@font-face {font-family: "iconfont";
  src: url('~@/assets/iconfont/iconfont.eot?t=1548037178531'); /* IE9 */
  src: url('~@/assets/iconfont/iconfont.eot?t=1548037178531#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~@/assets/iconfont/iconfont.woff2') format('woff2'),
  url('~@/assets/iconfont/iconfont.woff') format('woff'),
  url('~@/assets/iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('~@/assets/iconfont/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
